body{
    background: linear-gradient(110deg, #fdcd3b 60%, #1C2833  60%);
}
.name{
    color: #212F3D;
    font-family:Times New Roman, serif;
    font-size: 35px;
    position: relative;
    left: 70px;
}
p{
    font-family: Comic Sans, Comic Sans MS, cursive;
}
.info{
    font-family:sans-serif;
}
.details{
    font-family:  Comic Sans, Comic Sans MS, cursive;
}
.photo{
    position: relative;
    left: 800px;
    bottom: 800px;
}
.contact{
    font-family:sans-serif;
    font-size: 35px;
    position: relative;
    bottom: 750px;
}
input[type=text], select, textarea {
    width: 30%; 
    padding: 10px; 
    border: 1px solid  #E9967A; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 4px; 
    margin-bottom: 6px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color:  #fdcd3b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #E9967A;
  }
  
  .container {
    border-radius: 5px;
    background-color:  #ffed4b 
    ;
    padding: 20px;
    position: relative;
    bottom: 750px;
 }
  #fname{
      font-family:  Comic Sans, Comic Sans MS, cursive;
  }
  #email{
      font-family: Comic Sans, Comic Sans MS, cursive;
  }

